th {
    vertical-align: top !important;
  
    .validation-error {
      margin-top: 0.75rem;
      margin-bottom: 0;
      font-size: 0.75rem;
    }
  }
  
  .first-cell {
    font-size: 0.75rem;
  
    span {
      margin-top: 0.75rem;
    }
  }
  
  input {
    font-size: 0.75rem;
  }
  