<div class="table-responsive">
  <table class="table">
    <thead>
      <tr ngx-table-header [human-headers]="humanHeaders" [headers]="headers" (order)="onOrder($event)" [config]="_config"></tr>
      <tr ngx-table-filter *ngIf="enableFilter()" [headers]="headers" [config]="_config" (filter)="onFilter($event)">
      </tr>
    </thead>
    <tbody ngx-table-body [data]="_data" [headers]="headers" *ngIf="enableBody()"></tbody>
  </table>
</div>
<div class="row" *ngIf="!enableBody()">
  <div class="container-fluid">
    <div class="col-xs">
      <div class="alert alert-warning" role="alert">
        No data available
      </div>
    </div>
  </div>
</div>
